html{
    min-height: 100%;
}
body {
    background: rgb(255,246,230);
    background: linear-gradient(83deg, rgba(255,246,230,1) 0%, rgba(255,247,235,1) 25%, rgba(255,251,245,1) 50%, rgba(255,247,235,1) 75%, rgba(255,246,230,1) 100%);
    font-family: HelvetiHand;
    text-align: center;
}
.icon:hover{
    opacity: 0.4;
}